@media (min-width:768px) {
  #header .searchform {
    float: right;
  }
  #header .searchform .tel {
    text-align: right;
  }
  .navbar {
    z-index: 1;
  }
  .navbar-nav ul {
    position: absolute;
    left: 0;
    top: 100%;
    background: rgb(70,70,70);
    display: none;
    width: 200px;
  }
  .navbar-nav li>ul>li {
    min-width: 100%;
  }
  .navbar-nav>li:hover ul,
  .navbar-nav>li.over ul {
    display:block;
  }
  .single img {
    max-width: 50%;
  }
  /*
  .navbar-nav li:hover,
  .navbar-nav li:hover>ul,
  .banvbar-nav li:hover>ul>li,
  .navbar-nav li>ul:hover {
    display: block;
  }*/
}
@media (max-width:767px) {
  #logo img {
    display:block;
    margin: 0 auto;
  }
  .grupos-home p {
    display: none;
  }
}

@media (max-width:991px) {
  #sidebar {
    display: none;
  }
  .navbar-nav li > a {
    padding: 10px 20px;
  }
  #header .txt-padrao {
    width: 180px;
  }
}