/*
Theme Name: Espaço Arte
Theme URI: http://wordpress.org/themes/espacoarte
Author: HostStyle
Author URI: http://hoststyle.com.br/
Version: 1.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Text Domain: espacoarte

Espaço Arte WordPress Theme © 2011-2014 HostStyle
Espaço Arte is distributed under the terms of the GNU GPL
*/
html, body {
  font-family: 'Trebuchet MS', sans-serif;
}
img {
	height: auto;
	max-width: 100%;
}
.navbar {
	background: #fff !important;
	border: none !important;
	margin-bottom: 0 !important;
}
.logo-home {
	display: block;
	margin: 0 auto;
}
.head-content {
	padding: 0 15px;
	text-align: center;
}
.head-content .col-sm-3 {
	padding: 0;
}
.head-content .face {
	text-align: center;
	font-weight: bold;
	padding-top: 15px;
}
.head-content .face .fa-facebook-square {
	color: #3b5998;
}
.head-content .contatos {
	background-color: #f58488;
	font-weight: bold;
}
.head-content .contatos .tel {
	color: #fff;
	display: block;
	font-size: 18pt;
	padding-top: 6px;
}
.head-content .endereco span {
	display: inline-block;
}
.head-content .endereco .fa-map-marker {
	color: #8d0101;
	font-size: 30pt;
}

@media (min-width: 768px) {
	.head-content .contatos {
		font-size: 7pt;
	}
	.head-content .endereco span {
		margin-top: 0;
	}
}
@media (min-width: 992px) {
	.head-content .face {
		font-size: 15pt;
	}
	.head-content .contatos {
		min-height: 66px;
		font-size: 9pt;
	}
	.head-content .endereco span {
		margin-top: 12px;
	}
}
@media (min-width: 1200px) {
	.head-content .face {
		font-size: 18pt;
	}
	.head-content .contatos {
		min-height: 76px;
	}
	.head-content .endereco span {
		margin-top: 15px;
	}
}
@media (max-width: 767px) {
	.head-content .face {
		font-size: 18pt;
	}
	.head-content .contatos {
		min-height: 76px;
	}
	.head-content .endereco span {
		margin-top: 10px;
	}
}

.title {
	background: #eee;
	margin: 0;
	padding: 10px 15px;
}
.conteudo-infra {
	padding: 20px;
}